[Unit]
Description=SpeakerIR Remote Control Setup
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/home/enrico/app/setup_ir.sh
WorkingDirectory=/home/enrico/app

[Install]
WantedBy=multi-user.target
