[Unit]
Description=SpeakerIR main application
After=multi-user.target
Requires=irsetup.service
After=irsetup.service

[Service]
Type=exec
ExecStart=/home/enrico/app/main.py
WorkingDirectory=/home/enrico/app
User=enrico
Group=enrico

[Install]
WantedBy=multi-user.target
